<h1>Manufacturers</h1>

<h2>All Manufacturers</h2>
<ul>
    <% @manufacturers.each do |make| %>
        <li>
            Veiw the 
            <%= link_to make.manufacturerName, make %>
            page.
        </li>
    <% end %>
</ul>