<h1>Manufacturer show page</h1>


<h2>Manufacturer Name</h2>
<ol>
    <li>
        Name: <%= @manufacturer.manufacturerName %>
    </li>
    <li>
        Address: <%= @manufacturer.headOffice %>
    </li>
    <li>
        Date Established: <%= @manufacturer.dateFounded %>
    </li>
</ol>

<h2>Models Available</h2>
<ul>
    <% @models.each do |model| %>
        <li>
            <%= link_to model.modelName, model %>
        </li>
    <% end %>
</ul>